<div
  class="w-full md:flex justify-between body"
  style="background-color: #bbbbbb"
>
  <div
    class="flex-shrenk-0 w-full md:w-80 h-screen sticky top-0 overflow-y-auto"
    style="border-right: 1px solid rgb(87, 87, 87); background-color: #374151"
  >
    <nav class="navbar shadow-lg p-5" style="background-color: #252c36">
      <div class="font-semibold">PLAZA FESC</div>
    </nav>
    <ul class="menu p-5">
      <li class="menu-title"><span>Navigation</span></li>
      <li>
        <a href="/propietario"
          ><i class="fa-solid fa-house-chimney"></i> Inicio</a
        >
      </li>
      <li>
        <a href="/lista-restaurantes"
          ><i class="fa-solid fa-utensils"></i> Registrar plato</a
        >
      </li>
      <li>
        <a class="active" href="/lista-restaurantes"
          ><i class="fa-solid fa-utensils"></i> Lista de restaurantes</a
        >
      </li>
      <li>
        <a href="/actualizar-contrasegna/123"
          ><i class="fa-solid fa-lock"></i>Cambiar clave</a
        >
      </li>
      <div style="display: flex; justify-content: center; width: 75%">
        <form (ngSubmit)="salir()">
          <button id="but" type="submit" class="cont">
            <li style="bottom: 10px; position: absolute">
              <i
                class="fa-solid fa-arrow-right-from-bracket"
                style="font-size: 20px"
              ></i>
            </li>
          </button>
        </form>
      </div>
    </ul>
  </div>
  <div class="flex-1">
    <div class="flex items-center justify-between p-5">
      <div class="breadcrumbs">
        <h1 class="text-center" style="color: #252c36">
          <i class="fa-solid fa-house"></i> Registro de empleados Plaza Fesc
        </h1>
      </div>
      <div>
        <div class="avatar gap-5">
          <input
            type="search"
            class="input input-bordered rounded-full"
            placeholder="Search"
          />
          <div class="w-12 rounded-full">
            <img src="https://api.lorem.space/image/face?hash=64318" />
          </div>
        </div>
      </div>
    </div>

    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row" style="margin-top: 20px">
          <div class="col-md-6 offset-md-3">
            <form (ngSubmit)="formSubmit()" id="form">
              <p>Nombre del empleado</p>
              <mat-form-field class="full-width" appearance="outline">
                <input
                  type="text"
                  required
                  matInput
                  placeholder="Nombre"
                  id="nombre"
                  [(ngModel)]="empleado.nombre"
                  name="nombre"
                />
              </mat-form-field>

              <p>Apellido del empleado</p>
              <mat-form-field class="full-width" appearance="outline">
                <input
                  matInput
                  placeholder="Apellido"
                  id="apellido"
                  [(ngModel)]="empleado.apellido"
                  name="apellido"
                />
              </mat-form-field>

              <p>Celular del empleado</p>
              <mat-form-field class="full-width" appearance="outline">
                <input
                  matInput
                  placeholder="Celular"
                  id="celular"
                  [(ngModel)]="empleado.celular"
                  name="celular"
                />
              </mat-form-field>

              <p>Email del empleado</p>
              <mat-form-field class="full-width" appearance="outline">
                <input
                  matInput
                  placeholder="Email"
                  id="email"
                  [(ngModel)]="empleado.email"
                  name="email"
                />
              </mat-form-field>

              <p>Contraseña del empleado</p>
              <mat-form-field class="full-width" appearance="outline">
                <input
                  required
                  type="password"
                  matInput
                  placeholder="Digite su contraseña"
                  id="password"
                  [(ngModel)]="empleado.password"
                  name="password"
                />
              </mat-form-field>

              <div class="container text-center">
                <button mat-raised-button color="primary" id="btn1">
                  Registrar
                </button>
                <button
                  type="reset"
                  style="margin-left: 20px"
                  mat-raised-button
                  color="accent"
                  id="btn2"
                >
                  Limpiar
                </button>
              </div>
            </form>

            <br /><br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
