
<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img src="../../../assets/restaurante.png" width="100" height="100"> 
                </div>
                <h1 class="text-center">Registrar restaurante</h1>

                <form (ngSubmit) ="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Nombre restaurante</mat-label>
                        <input required matInput placeholder="Digite el nombre de su restaurante"
                        id="nombre"
                        [(ngModel)]="restaurante.nombre"
                        name="nombre">

                        <mat-hint>El nombre del usuario debe ser único</mat-hint>
                    </mat-form-field>

                
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>NIT: </mat-label>
                        <input required
                         type="nit"      
                         matInput placeholder="Digite su NIT: 10122012334-5"
                         id="nit"
                         [(ngModel)]="restaurante.nit"
                         name="nit">

                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Direccion: </mat-label>
                        <input matInput placeholder="Direccion"
                        id="direccion"
                        [(ngModel)]="restaurante.direccion"
                        name="direccion">

                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Telefono: </mat-label>
                        <input matInput placeholder="telefono"
                        id="telefono"
                        [(ngModel)]="restaurante.telefono"
                        name="telefono">

                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Logo: </mat-label>
                        <input matInput placeholder="logo .pgn .jpg .jpeg"
                        id="logo"
                        [(ngModel)]="restaurante.logo"
                        name="logo">

                    </mat-form-field>
<!--
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>admin: </mat-label>
                        <input matInput placeholder="admin"
                        id="admin"
                        [(ngModel)]="restaurante.admin"
                        name="admin">

                    </mat-form-field>-->

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Propietario: </mat-label>
                        <input matInput placeholder="Ingrese el email del propietario"
                        id="usuario"
                        [(ngModel)]="restaurante.user"
                        name="user">

                    </mat-form-field>

                    

 

                    <div class="container text-center">
                        <button mat-raised-button color="primary" id="btn1">Registrar</button>
                        <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent" id="btn2">Limpiar</button>
                    </div>

                </form>

                <br><br><br>

            </div>

        </div>
    </div>
</div>

