<div class="navbar">

  <div class="dropdown">
      <button class="dropbtn">Opciones</button>
      <div class="dropdown-content">

        <a href="/signup">Usuarios</a>
        <a href="/registro-restaurante">Restaurantes</a>
        <a href="/auditoria">Auditorías</a>
      </div>
    </div>


<a href="#contact" class="cont">Cerrar sesión</a>
</div>


  <div class="container mt-3 con">
    <div class="card" style="width:400px; border: 1px solid rgb(56, 56, 56)">
      <img class="card-img-top" src="https://cdn-icons-png.flaticon.com/512/6454/6454324.png"  alt="Card image" style="width:80%; margin-left: 10%; margin-right: 10%; padding-top: 10px;">
      <div class="card-body">
        <h4 class="card-title"></h4>
        <p class="card-text">Esta es una cuenta de administrador</p>
        <a href="/actualizar-contrasegna" class="btn">Cambiar clave</a>
      </div>
    </div>
    <br>
</div>


