<div class="navbar">

    <div class="dropdown">
        <button class="dropbtn">Opciones</button>
        <div class="dropdown-content">

          <a href="/admin">Inicio</a>
          <a href="/signup">Usuarios</a>
          <a href="/registro-restaurante">Restaurantes</a>
          <a href="/auditoria">Auditorías</a>
        </div>
      </div>
      <form (ngSubmit) ="salir()">
        <button id="but" type="submit" class="cont">
          Cerrar sesión
        </button>
      </form>

</div>