<div
  class="w-full md:flex justify-between body"
  style="background-color: #bbbbbb"
>
  <div
    class="flex-shrenk-0 w-full md:w-80 h-screen sticky top-0 overflow-y-auto"
    style="border-right: 1px solid rgb(87, 87, 87); background-color: #374151"
  >
    <nav class="navbar shadow-lg p-5" style="background-color: #252c36">
      <div class="font-semibold">PLAZA FESC</div>
    </nav>
    <ul class="menu p-5">
      <li class="menu-title"><span>Navigation</span></li>
      <li>
        <a href="/propietario"
          ><i class="fa-solid fa-house-chimney"></i> Inicio</a
        >
      </li>
      <li>
        <a class="active" href="/lista-restaurantes"
          ><i class="fa-solid fa-utensils"></i> Registrar plato</a
        >
      </li>
      <li>
        <a href="/lista-restaurantes"
          ><i class="fa-solid fa-utensils"></i> Lista de restaurantes</a
        >
      </li>
      <li>
        <a href="/actualizar-contrasegna/123"
          ><i class="fa-solid fa-lock"></i>Cambiar clave</a
        >
      </li>
      <div style="display: flex; justify-content: center; width: 75%">
        <form (ngSubmit)="salir()">
          <button id="but" type="submit" class="cont">
            <li style="bottom: 10px; position: absolute">
              <i
                class="fa-solid fa-arrow-right-from-bracket"
                style="font-size: 20px"
              ></i>
            </li>
          </button>
        </form>
      </div>
    </ul>
  </div>
  <div class="flex-1">
    <div class="flex items-center justify-between p-5">
      <div class="breadcrumbs">
        <h1 class="text-center" style="color: #252c36">
          <i class="fa-solid fa-carrot"></i> Registrar un plato
        </h1>
      </div>
      <div>
        <div class="avatar gap-5">
          <input
            type="search"
            class="input input-bordered rounded-full"
            placeholder="Search"
          />
          <div class="w-12 rounded-full">
            <img src="https://api.lorem.space/image/face?hash=64318" />
          </div>
        </div>
      </div>
    </div>
    <!-- main content /-->
    <div class="w-full p-5">
      <div class="bootstrap-wrapper">
        <div class="container">
          <div class="row" style="margin-top: 20px">
            <div class="col-md-6 offset-md-3">
              <form (ngSubmit)="formSubmit()" id="form">
                <p>Nombre</p>
                <mat-form-field class="full-width" appearance="outline">
                  <input
                    type="nombre"
                    required
                    matInput
                    placeholder="nombre"
                    id="nombre"
                    [(ngModel)]="plato.nombre"
                    name="nombre"
                  />
                </mat-form-field>

                <p>Descripción</p>
                <mat-form-field class="full-width" appearance="outline">
                  <input
                    required
                    matInput
                    placeholder="Descripcion"
                    id="descripcion"
                    [(ngModel)]="plato.descripcion"
                    name="descripcion"
                  />
                </mat-form-field>

                <p>Precio</p>
                <mat-form-field class="full-width" appearance="outline">
                  <input
                    matInput
                    placeholder="precio"
                    id="precio"
                    [(ngModel)]="plato.precio"
                    name="precio"
                  />
                </mat-form-field>

                <p>Categoría</p>
                <mat-form-field class="full-width" appearance="outline">
                  <input
                    matInput
                    placeholder="Categoria"
                    id="categoria"
                    [(ngModel)]="plato.categoria"
                    name="categoria"
                  />
                </mat-form-field>

                <p>Seleccione la imagen de su plato</p>
                <div class="file-select">
                  <input
                    type="file"
                    class="file-input"
                    (change)="onFileSelected($event)"
                    #fileUpload
                  />
                </div>
                <!--  
                            <mat-form-field class="full-width" appearance="outline">
                                <input matInput placeholder="Logeado"
                                id="Logeado"
                                [(ngModel)]="plato.logeado"
                                name="logeado">

                            </mat-form-field>

                        -->

                <!--  
                            <mat-form-field class="full-width" appearance="outline">
                                <input matInput placeholder="Restaurante"
                                id="restaurante"
                                [(ngModel)]="plato.restaurante"
                                name="restaurante">

                            </mat-form-field>

                        -->

                <div class="container text-center">
                  <button
                    (click)="enviarFormulario()"
                    mat-raised-button
                    color="primary"
                    id="btn1"
                  >
                    Registrar
                  </button>
                  <button
                    type="reset"
                    style="margin-left: 20px"
                    mat-raised-button
                    color="accent"
                    id="btn2"
                  >
                    Limpiar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!--END Report-->
    </div>
    <!-- END main content /-->
  </div>
</div>
