<div
  class="w-full md:flex justify-between body"
  style="background-color: #bbbbbb"
>
  <div
    class="flex-shrenk-0 w-full md:w-80 h-screen sticky top-0 overflow-y-auto"
    style="border-right: 1px solid rgb(87, 87, 87); background-color: #374151"
  >
    <nav class="navbar shadow-lg p-5" style="background-color: #252c36">
      <div class="font-semibold">PLAZA FESC</div>
    </nav>
    <ul class="menu p-5">
      <li class="menu-title"><span>Navigation</span></li>

      <!-- YIS -->
      <!-- ADMIN -->
      <li>
        <a
          *ngIf="
            LoginService.getUserRol() == 'ADMIN' && password != nombreNuevo
          "
          href="/admin"
          ><i class="fa-solid fa-house-chimney"></i> Inicio</a
        >
      </li>

      <li>
        <a
          *ngIf="
            LoginService.getUserRol() == 'ADMIN' && password != nombreNuevo
          "
          href="/signup"
          ><i class="fa-regular fa-user"></i> Propietarios</a
        >
      </li>

      <li>
        <a
          *ngIf="
            LoginService.getUserRol() == 'ADMIN' && password != nombreNuevo
          "
          href="/registro-restaurante"
          ><i class="fa-solid fa-utensils"></i> Restaurantes</a
        >
      </li>

      <li>
        <a
          *ngIf="
            LoginService.getUserRol() == 'ADMIN' && password != nombreNuevo
          "
          href="/auditoria"
          ><i class="fa-regular fa-newspaper"></i> Auditorias</a
        >
      </li>

      <!-- PROPIIETARIO -->
      <li>
        <a
          *ngIf="LoginService.getUserRol() == 'PROPIETARIO'"
          href="/propietario"
          ><i class="fa-solid fa-house-chimney"></i> Inicio</a
        >
      </li>

      <li>
        <a
          *ngIf="LoginService.getUserRol() == 'PROPIETARIO'"
          href="/lista-restaurantes"
          ><i class="fa-solid fa-utensils"></i> Registrar plato</a
        >
      </li>

      <li>
        <a
          *ngIf="LoginService.getUserRol() == 'PROPIETARIO'"
          href="/lista-restaurantes"
          ><i class="fa-solid fa-utensils"></i> Lista de restaurantes</a
        >
      </li>

      <li>
        <a class="active" href="/actualizar-contrasegna/123"
          ><i class="fa-solid fa-lock"></i>Cambiar clave</a
        >
      </li>
      <div style="display: flex; justify-content: center; width: 75%">
        <form (ngSubmit)="salir()">
          <button id="but" type="submit" class="cont">
            <li style="bottom: 10px; position: absolute">
              <i
                class="fa-solid fa-arrow-right-from-bracket"
                style="font-size: 20px"
              ></i>
            </li>
          </button>
        </form>
      </div>
    </ul>
  </div>
  <div class="flex-1">
    <div class="flex items-center justify-between p-5">
      <div class="breadcrumbs"></div>
      <div>
        <div class="avatar gap-5">
          <h3 style="color: #000; margin-top: 10px">
            {{ LoginService.getUser().username }}
          </h3>
          <div class="w-12 rounded-full">
            <img src="https://api.lorem.space/image/face?hash=64318" />
          </div>
        </div>
      </div>
    </div>
    <!-- main content /-->
    <div class="w-full p-5">
      <div class="bootstrap-wrapper">
        <div class="container">
          <div class="row" style="margin-top: 20px" id="form">
            <div class="col-md-8 offset-md-2">
              <h1 class="text-center" style="color: #252c36">
                <i
                  style="font-size: 25px; margin-right: 10px"
                  class="fa-solid fa-key"
                ></i
                >Actualizar contraseña
              </h1>
              <p class="text-center" style="color: #252c36">
                Recuerde que su contraseña debe <br />contener más de 6 dígitos
              </p>
              <form (ngSubmit)="formSubmit()">
                <mat-form-field class="full-width" appearance="outline">
                  <input
                    type="password"
                    required
                    matInput
                    placeholder="Ingrese su nueva clave"
                    id="password"
                    [(ngModel)]="contrasegna.pass"
                    name="password"
                  />
                </mat-form-field>

                <div class="container text-center">
                  <button
                    (click)="obtenerNuevaPass(contrasegna.pass)"
                    mat-raised-button
                    color="primary"
                    id="btn1"
                  >
                    Actualizar
                  </button>
                  <button
                    type="reset"
                    style="margin-left: 20px"
                    mat-raised-button
                    color="accent"
                    id="btn2"
                  >
                    Limpiar
                  </button>
                </div>
              </form>

              <br /><br /><br />
            </div>
          </div>
        </div>
      </div>

      <!--END Report-->
    </div>
    <!-- END main content /-->
  </div>
</div>
